.viewer-container {
  background-image: radial-gradient(rgba(67, 206, 162, 1), rgba(24, 90, 157, 1));
  //background-image: url('./../Assets/Galaxy.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}